@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Josefin+Sans&display=swap');
@import "./scss/buttons.scss";
@import "./scss/alerts.scss";
body {
  background-color: khaki;
  transition:2s;
}
body * {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  border-radius: 8px;
  animation-name: init;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  color: cornsilk;
}
h1 {
  color: brown;
  text-align: center;
}
h2 {
  font-size: 1rem;
  text-align: center;
}
@keyframes init {
  0%{
    opacity: 20%;
  }
  100%{
    opacity: 100%;
  }
}
button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder; 
}
input {
  outline-color: bisque;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding:6px;
  background-color: rgb(46, 80, 93);
  color:white;
  button {
    width:fit-content;
  }
  .cell {
    border: 1px solid rgb(152, 152, 152);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:4px 2px;
  }
  .heading {
    display:flex;
    padding:4px 2px;
    justify-content: center;
    align-items: center;
  }
  .first-cell {
    justify-content: left;
    align-items: left;
  }
  a:hover {
    color: skyblue;
    cursor: pointer;
  }
  .edit-cell{
    background-color: rgb(46, 109, 132);
    border:none;
    padding-bottom: 16px;
    
  }
  input{
    height:12px;
    padding:3px 2px;
    border:none;
    width:90%;
    color:black;
  }
  .check {
    display:flex;
    align-items: center;
    justify-content: center;
    width:85px;
  }
}
.panele {
  text-align:right;
  padding:4px;
}
.ivedimas {
  background-color: rgb(46, 109, 132);
}



